
.alert-info a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.alert-info {
    /*display: inline-block;*/
    background-color: lightblue;
    border: solid 5px tan;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

body {
    font-family: sans-serif;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
}

ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    display: block;
    background: lightgrey;
    width: 100%;
    padding: .5em;
    margin-bottom: .5em;
    /* ^ or justify-content: space-between;*/
}

h1 {
    text-align: center;
}

.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}


h2 {

}

main {

}

/*@media screen and (max-width:500px) {*/

/*    body {*/
/*        background-color: pink;*/

/*    }*/

/*    .main {*/
/*        color: hotpink;*/

/*    }*/

/*    .sub-section {*/
/*        color: hotpink;*/

/*    }*/
/*}*/


